files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_after_deploy_script.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      chown ec2-user -R /var/app/current
      echo '/var/app/current/log/* {
        size 1G
        compress
        copytruncate
        rotate 5
        notifempty
      }' >> /etc/logrotate.d/jobs.conf
      mkdir /var/app/current/pids
      chmod 755 /var/app/current/pids
      chown ec2-user /var/app/current/pids
      runuser -l ec2-user -c 'cd /var/app/current && npm start'





